@{
     ViewData["Title"] = "Home Page";     
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/colors.css" />
    <link rel="stylesheet" href="~/css/cards.css" />

    <script
      src="https://kit.fontawesome.com/734a53a685.js"
      crossorigin="anonymous"
    ></script>
    <title>WestCoastEducation</title>
  </head>
  <body>
    <header class="landing">
      <div class="content">
        <h1>Welcome To Westcoast Education</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et
          voluptatem laborum suscipit odio veritatis? Quia tempore reiciendis
          esse alias totam delectus illo magni repellat consequuntur! Laudantium
          cupiditate atque fuga quis nostrum adipisci obcaecati rerum. Illo in
          sit quasi. Blanditiis maiores vitae ratione molestiae laboriosam illum
          in ea omnis placeat veritatis!
        </p>    
      </div>
    </header>
   
    <footer id="main-footer">      
      <div>
        <p>WestCoastEducation &copy; 2021, All Rights Reserved</p>
      </div>
    </footer>
  </body>
</html>